# Python Assignment

# Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

# Ans)

In [1]:
lt=[('Sachin Tendulkar',34357),('Ricky Pointing',27483),('Jack Kallis',25534),('Virat Kohli',24936)]

lt.sort(key=lambda x:x[1])

print(lt)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Pointing', 27483), ('Sachin Tendulkar', 34357)]

 .

# Q2. Write a Python Program to find the square of all of the numbers in the given list of integers using lambda and map fuctions.

# Ans)

# Using Lambda Function:

In [2]:
l=[1,2,3,4,5,6,7,8,9,10]
key=lambda l:[i*i for i in l]

In [3]:
key(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Using Map function

In [4]:
def sq(x):
    return x*x

In [5]:
l=[1,2,3,4,5,6,7,8,9,10]
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Using Both in a program

In [6]:
l=[1,2,3,4,5,6,7,8,9,10]

list(map(lambda x :x*x,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

.

# Q3. Write a Python Program to convert the given list of integers into a tuple of strings. Use map and lamdas functions.

# Ans)

In [7]:
l=[1,2,3,4,5,6,7,8,9,10]

tuple(map(lambda x:str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

.

# Q4. Write a Python program using reduce function to compute the product of a list containing numbers from 1 to 25

## Ans)

In [8]:
import numpy as np
from functools import reduce

l=np.arange(1,26)

In [9]:
l

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [10]:
reduce(lambda x,y:x*y,l)

C:\Users\Pankaj A. Tembhare\AppData\Local\Temp\ipykernel_26740\1665481443.py:1: RuntimeWarning: overflow encountered in scalar multiply
  reduce(lambda x,y:x*y,l)

2076180480

.

# Q5. Write a Python program to filter a numbers in a given list that are divisible by 2 and 3 using the filter function.

In [11]:
l=[2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x: x%2==0 or x%3==0,l))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

.

# Q6. Write a Python program to find palindrome in the given list of strings using lambda and filter function.

In [12]:
l=['python','php','aba','radar','level']

list(filter(lambda x : x==''.join(reversed(x)),l))

['php', 'aba', 'radar', 'level']